<div class="col-md-1"></div>
<div class="col-md-10 about">

  <h1>About Us</h1>


  <br>
  <p>Frederick A. Farrar, Inc. was founded in 1937 as an electric motor repair shop by Frederick A. Farrar, an electrical engineer. In 1948, the growing business moved to its 15 Avon St. location.</p>

  <p>In 1958, Robert Farrar, also an electrical engineer, left Westinghouse Electric and joined his father in the firm. In 1983, Matthew Farrar, joined his father and grandfather in the company to enable this unique organization to continue in the family.</p>

  <div class="row">
    <div class="col-md-6">
    <%= image_tag("about.png", class: "about-img") %>
    </div>

    <div class="col-md-6">
      <p>Today, the company has grown and expanded, directing its efforts to the industrial, water treatment, health care and construction markets of New England. The service department has worked on a broad spectrum of electric motors, ranging from small high-frequency to large synchronous units and a distribution team handles sales of electrical apparatus, motors, variable frequency drives and controls.</p>
    </div>

  </div>
  <br>

  <p>Call us today at (866) 708-1089 or Email your requirements.</p>

</div>
<div class="col-md-1"></div>