/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$grid-float-breakpoint: 822px;

@import "bootstrap-sprockets";
@import "bootstrap";

body * {
  font-family: "Istok Web", sans-serif;
  p {
    font-size: 12pt;
  }
}
body {
  background-color: rgb(233, 240, 242);
}
h1 {
  color: white;
  z-index: 6;
  position: relative;
}

nav.navbar {
  border: none;
  border-radius: 0px;
  background-color: rgb(52, 87, 135);
}
nav.navbar.navbar-default {
  margin-bottom: 0px;
}

.nav  li.head{
  margin-right: 20px;
  a {
    color: white !important;
    font-size: 12pt;
  }  
}

.nav li.head.active {
  a {
    background-color: #527099 !important;
  }
  a:selected {
    border: none;
  }
}

.nav li.dropdown.head > a.dropdown-toggle.active {

    background-color: #527099 !important;

}

.nav li.head > a:hover {
  color: #d0ebfb !important;
}

.navbar-brand, .navbar-header {
  background-color: #f8f8f8;
  color: #f8f8f8;
}

.navbar-header {
  width: 25%;
  min-width: 290px;
  float: left;
  margin-right: -20px !important;
}
.nav-spacer {
  width: 330px;
  height: 10px;
  background-color: red;
}

.navbar-brand {
  width: 100%;
  min-width: 290px;
  background-image: image-url("farrar-bg.png");
  padding: 0px;
}

.logof {
  padding-left: 20px;
  padding-top: 13px;
  padding-right: 35px;
  float: left;
  margin-top: -4px;
  img {
    width: 232px;
  }
}
.nav-slant {
  background-color: rgb(52, 87, 135);
  transform: skewX(-13deg);
  margin-left: -20px;
  margin-right: -100px;
  width: 90px;
  height: 50.5px;
  position: absolute;
  left: 300px;
}
.navbar-left {
}
.navbar-right {
  float: right;
}
.nav-buffer {
  float:left;
  height: 50px;
  width: 1.5%;
}


.logo-bg {
  position: absolute;
  left: 0px;
  top: 0px;
  float: top;
  z-index: -1000;
}


@keyframes dropdown {
    from {
      background-color: rgba(52, 87, 135, 0.1);
    }
    to {
      background-color: rgba(52, 87, 135, 0.96);
    }
}

li.dropdown.head.open > a{
  color: white;
  background-color: #527099 !important;
}

ul.dropdown-menu {
  background-color: rgba(52, 87, 135, 0.85);
  border: 3px double rgba(52, 87, 135, 0.85);
  
  li a{
    color: white;
    font-size: 13pt;
    line-height: 36px !important;
  }
  li a:hover {
    background-color: rgba(35, 66, 109, 0.85) !important;
  }

  animation-name: dropdown;
  animation-duration: 0.15s;

  
}


.linedivider {
  position: absolute;
  left: 0px;
  margin-top: -20px;
  width: 100%;
  height: 7px;
  background-image: image-url("farrar-bg.png");
}

.bg-wrapper {
  height: 80px;
  position: absolute;
  overflow: hidden;
  width: 100%;
}
.bg {
  position: absolute;
  width: 1600px;
  height: 80px;
  background-image: image-url("bg.png");
  background-repeat: repeat-x;
}
.container {
  height: 100% !important;
}

.clip-nav-buffer {
  width: 0px;
  height: 50px;
  background-color: rgba(20, 20, 62, 0.2);
  float: right;
}
.clip-nav-wrapper {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 27%;
  min-width: 266px;
}
.clip-nav {
  position: relative;
  float: right;
  opacity: 0;
}
.clip-nav-box {
  float: right;
  position: relative;
  height: 50px;
  width: 100%;
  background-color: rgba(20, 20, 62, 0.2);
  padding-top: 15px;
  padding-left: 25px;
}
.call-now {
  opacity: 1.0;
  color: white;
  z-index: 10;
}


/* ?? */
div.center-white {
  background-color: rgba(255, 255, 255, 0.8);
  padding-left: 50px !important;
}


div.sidebox {
  background-color: rgba(20, 20, 62, 0.3);
  height: 100%;
  min-height: 100% !important;
}



.banner {
  width: 80%;
  margin-left: -50px;
  margin-top: 5px;

  background-color: rgba(20, 20, 62, 0.3);
  

  height: 51px;
  overflow: hidden;
  position: relative;
  float: left;
  z-index: 5;
}

.banner-h1 {
  position: absolute;
  z-index: 6;
}

.clip {
  float: left;
  width: 20px;
  opacity: 0.3;
  margin-top: 5px;
}



/*
Footer
*/
.linedivider-2 {
  position: absolute;
  overflow: hidden;
  left: 0px;
  width: 100%;
  height: 14px;
  background-image: image-url("farrar-bg.png");
  z-index: 100;
}

.footer-wrapper {
  position: relative;
  overflow: hidden;
}

.footer {
  width: 120%;
  position: relative;
  overflow: hidden;
  left: -100px;
  height: 260px;
  background-color: rgb(52, 87, 135);/*
  box-shadow: 0px 80px 80px #193458 inset;*/

  .footer-text {
    color: white;
    text-align: center;
  }

  .credit-cards {
    position: relative;
    width: 176px;
    margin: auto;
    margin-top: 30px;
  }
}

.home-item {
  width: 40%;
  height: 180px;
  display: inline-block;
  position: relative;
  float: top;

}

.home-item.sc {
  padding-top: 20px;
  width: 27%;
}
.home-item.im {
  width: 30%;
  float: right;
  margin-top: 50px;
}

.tz {
  margin-top: -20px !important;
  top: -20px !important;
}

.easa-wrapper {
  img { 
    float: right;
    margin-right: 50px;
    margin-left: 20px;
    min-width: 270px;
  }
  ul {
    font-size: 13pt;
  }
}

.col-md-10.center-white.line-cards-wrapper-bg.home {
  margin-left: 25px;
}