/*
Contact Us Page
*/

.contact-us-left {
  position: relative;
  float: left;
  margin-right: 20%;
}
.contact-us-right {
  color: #d4ab1f;
  float: left;

  h3 {
    line-height: 3px;
    font-size: 16pt;
  }

  padding-right: 100px;
}

.map {
  width: 100%;
  position: relative;
  margin-bottom: -6px !important;
}

.line-cards a {
  color: #d4ab1f;
  font-size: 14pt;
}

div.col-md-10.center-white.line-cards-wrapper-bg {
  background-image: image-url("bg.png");
  background-repeat: repeat-x;
  z-index: 3;
  padding-left: 0px !important;
  padding-right: 0px !important;

  .line-cards-wrapper {
    padding-left: 50px !important;
    margin-top: 0px;
    z-index: 4;
    background-color: rgba(255, 255, 255, 0.7);
  }
}

.col-md-10.directions-wrapper {
  background-color: white;
  .banner-h1 h1#brands {
    margin-top: 15px;
  }
}

.banner.directions-banner {
  margin-left: 0px;
  margin-bottom: 0px;
}

.banner.dark-blue-grad.directions-banner {
  margin-top: 0px;
  width: 100%;
}

.directions-wrapper .clip.dark-blue {
  opacity: 0.8;
}

.sliver {
  width: 100%;
  background-color: rgb(52, 87, 135);
  height: 5px;
}