h2.motors {
	margin-top: 26px;
}

.motor-brands-wrapper {
	width: 100%;
}
.motor-brands {
	width: 40%;
	margin-left: 5%;
	text-align: center;
	display: inline-block;
	float: left;
	img {
		width: 150px;
	}
	td {
		padding-bottom: 20px;
	}
	td.text {
		padding-left: 10px;
		text-align: left;
	}
}

.sm-body-wrapper {
	width: 100%;
	height: 315px;
	img {
		float: center;
	}
}

ul.sm {
	float: left;
	font-size: 13pt;
}

h2.sm {
	margin-top: 32px;
}